[submodule "Skhole/Skhole/extern/VectorLikeGLSL"]
	path = Skhole/Skhole/extern/VectorLikeGLSL
	url = git@github.com:kinakomoti-321/VectorLikeGLSL.git
[submodule "Skhole/Skhole/extern/imgui"]
	path = Skhole/Skhole/extern/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Skhole/Skhole/extern/tinyobjloader"]
	path = Skhole/Skhole/extern/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "Skhole/Skhole/extern/tinygltf"]
	path = Skhole/Skhole/extern/tinygltf
	url = git@github.com:syoyo/tinygltf.git
